.about {
    max-width: 117rem;
}

.about-img {
    position: relative;
}

.about-img__back {
    opacity: 0.3;
}

.about-img__front {
    position: absolute;
    top: 7rem;
    left: 7rem;
}

.about__text {
    margin-bottom: 8rem;
}

.about__text h2 {
    margin-bottom: 3rem;
}

.about__text p {
    opacity: 0.7;
}

.about-btn {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
